.search-form {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

/* filter buttons */

.search-form button {
    display: flex;
    align-items: center;
    height: 2rem;
    padding: 0.3rem 1.5rem;
    border: 2px solid #F6915A;
    color:#F6915A;
    border-radius: 0.5rem;
    transition: color 0.2 ease;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    background-color: white;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 300;
    gap: 0.5rem;
}

.search-form button:hover {
    background-color: rgb(247, 207, 189);
    border-color: #B45231;
}

/* search bar */
.search-input {
    font: sans-serif;
    border-radius: 0.5rem;
    padding: 0.3rem 1.5rem;
    align-self: center;
    flex: 1;
}

/* date and time */
.date-time {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin-left: auto; 
    display: flex;
    gap: 0.5rem;
    align-self: center;
    height: 1.5rem;
}